<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>ITD</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
	
	<!---->
	<link rel="stylesheet"  href="css/Home.css">
</head>

<body>
<div class="header">
	<nav class="navbar navbar-expand-lg navbar-light bg-light" Color="White" >
 <a class="navbar-brand" href="HomeTravel.html"  >
 
  <font color="#FFC90E"><b>ITD</b></font>
  </a>

	<div class="container">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
       <input type="date" id="birthday" name="birthday">
      </li>
      <li class="nav-item">
       <input type="date" id="birthday" name="birthday">
      </li>     
    </ul>
	<!--Thanh tìm kiếm -->
	<form>
    <input type="search" placeholder="Search">
	</form>

  </div>
  </div>
</nav>
</div>
<br/>

<div class="row">
  <div class="col-sm-4">
	<div class="row">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Ảnh</th>
											<th>Biển Số</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                Ảnh 1
                                            </td>
											<td>
                                               Biển 1
                                            </td>
                                        </tr>
                                    </tbody>
            </table>
	</div>
  </div>
	<div class="col-sm-8">

	<div class="row">
		<div class="col-3">
		 <button type="button" onclick="alert('Hello world!')">Left</button>
		</div>
		<div class="col-6">
			<img src="C:\Users\DANG HUY\Desktop\117912258_1014103702379197_2044870920192861660_n.png" alt="" width="500" height="300">
			
				<div class="form-check">
					  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
					  <label class="form-check-label" for="gridRadios1">
						First radio
					  </label>
					</div>
				<div class="form-check">
				  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
				  <label class="form-check-label" for="gridRadios2">
					Second radio
				  </label>
				</div>
				<div class="form-check disabled">
				  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
				  <label class="form-check-label" for="gridRadios3">
					Third disabled radio
				  </label>
				</div>
				</div>
		<div class="col-2">
			<p>This is a paragraph.</p>
			<p>This is a paragraph.</p>
			<p>This is a paragraph.</p>
		</div>
		<div class="col-1">
			<button type="button" onclick="alert('Hello world!')">Right</button> 
		</div>
  </div>
	</div>
</div>




</body>
<!--Cuộn trang lên đầu-->
	

</html>
